<header class="site-header">
  <a class="site-title" href="index.html#about">Prashant Pathak</a>
  <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="site-navigation">
    <span class="menu-icon" aria-hidden="true"></span>
    <span class="menu-label">Menu</span>
  </button>
  <nav id="site-navigation">
    <a href="index.html#about">About</a>
    <a href="teaching.html">Teaching</a>
    <a href="publications.html">Publications</a>
    <a href="academic-activities.html">Academic Activities</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>
